html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Scale canvas with resize attribute to full size */

.game{

    /* background-color: #DFF6FF; */
}

.game canvas{
    height: 100%;
    width: 100%;
}



video{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    /* display: none; */
}


select{
    position: absolute;
    bottom: 450px;
    right: 20px;
    z-index: 2;
    display: none;
}