html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Scale canvas with resize attribute to full size */

.game{
    height:fit-content;
    background-color: white;
}

